@tailwind base;
@tailwind components;
@tailwind utilities;

code {
  counter-reset: step;
  counter-increment: step 0;
  color: "#8F8CA8";
}
code .line::before {
  content: counter(step);
  counter-increment: step;
  text-align: right;
  width: 1rem;
  display: inline-block;
  color: "#8F8CA8";
}
